:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0d1117;
  color: #00ff00;

  text-shadow: 0 0 4px rgba(0, 255, 0, 0.7);

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  position: relative;

  animation: flicker 0.15s infinite;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px;

  z-index: 99;
  pointer-events: none;
}

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.4) 100%);
  z-index: 99;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.98;
  }

  5% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.98;
  }

  15% {
    opacity: 0.96;
  }

  100% {
    opacity: 0.98;
  }
}